<html>
    <head>
        <meta charset="utf-8" />
        <title>Example App</title>
    </head>
    <body 
        style="
        background-color: #d4d4d4;
        padding: 0 2em">

        {{{body}}}

    </body>
</html>